{% include 'layout.html' %}

    <div class="container"> <!-- container div -->
        <div class="card text-center"> <!-- card div -->
            <div class="card-header"> Your To-dos </div>


            <div class="card-body"> <!-- card-body div -->
                <h5 class="card-title">List of your To-dos!</h5>
                <p class="card-text">Information regarding stuff that needs to be completed</p>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Info</th>
                            <th scope="col"#>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="pointer">
                            <td>1</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>

                        <tr class="pointer">
                            <td>2</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>

                        <tr class="pointer">
                            <td>3</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <a class="btn btn-primary" href="#">Add a new To-do!</a>
            </div> <!-- card-body div -->

        </div> <!-- card div -->
    </div> <!-- container div -->

