<!DOCTYPE html>
<html lang="en">
<head>

    <title>To-do App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/todo/css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/todo/css/bootstrap.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div> <!-- Navbar div -->
        <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
            <a class="navbar-brand" href="#">To-do App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!-- Navbar div -->

    <div class="container"> <!-- container div -->
        <div class="card text-center"> <!-- card div -->
            <div class="card-header"> Your To-dos </div>


            <div class="card-body"> <!-- card-body div -->
                <h5 class="card-title">List of your To-dos!</h5>
                <p class="card-text">Information regarding stuff that needs to be completed</p>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Info</th>
                            <th scope="col"#>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="pointer">
                            <td>1</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>

                        <tr class="pointer">
                            <td>2</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>

                        <tr class="pointer">
                            <td>3</td>
                            <td>Take out trash</td>
                            <td>
                                <button type="button" class="btn btn-success">Complete</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <a class="btn btn-primary" href="#">Add a new To-do!</a>
            </div> <!-- card-body div -->

        </div> <!-- card div -->
    </div> <!-- container div -->

    <script src="{{url_for('static', path='/todo/js/jquery-slim.js')}}"></script>
    <script src="{{url_for('static', path='/todo/js/popper.js')}}"></script>
    <script src="{{url_for('static', path='/todo/js/bootstrap.js')}}"></script>


</body>
</html>