<div> <!-- Navbar div -->
    <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
        <a class="navbar-brand" href="/">To-do App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item active">
                    <a href="/" class="nav-link font-weight-bold rounded bg-dark" >Home</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item m-1">
                    <a type="button" class="btn btn-warning text-dark font-weight-bold" href="/users/edit-password">Change Password</a>
                </li>
                <li class="nav-item m-1">
                    <a type="button" class="btn btn-danger font-weight-bold" href="/auth/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div> <!-- Navbar div -->